

$font-stack: 'Montserrat', sans-serif;
$bg-pink: linear-gradient(55.93deg, #DE535A 0%, #FE666E 100%);

body {
    font-family: $font-stack;
}

.aff-bg-pink {
    background: $bg-pink;
}

.aff-white {
    color: #fff;
}

.aff-bg-blue {
    background-color: #1495E8;
}

.opacity-1 {
    opacity: .2;
}

.opacity-5 {
    opacity: .5;
    ;
}

#Chat {
    width: 140px !important;

}